<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jquery -->
    <script src=""></script>

    <link rel="stylesheet" href="assets/style.css" type="text/css"/>
</head>
<body>
    <h1>Hello world....</h1>
    <form action="/example7out" method="POST">
        First name : <input name="fistname" type="text" />
        <br>
        Last name : <input name="lastname" type="text" />
        <br>
        <input type="submit" value="submit" />
    </form>

    <script>
        $.ajax({
            type: "POST",
            url: "/personjson",
            data: JSON.stringify({fistname: 'Lana', lastname: 'Hana'}),
            dataType: 'json',
            contentType: 'application/json'
        });            
    </script>
</body>
</html>